.headerContainer {
  background-color: var(--foreground);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 3;
  height: 60px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.headerContainer::after {
  content: "";
  display: block;
  height: 1px;
  background-color: var(--delim-color);
}

.navbar {
  max-width: 800px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.scrollbar {
  height: 3px;
  background-color: var(--link-color);
  width: 0;
}

.title {
  padding: 0.2rem 0.8rem;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.navbar ul > li {
  margin: 0.2rem 0.5rem;
}

.burger {
  display: none;
}

@media (max-width: 768px) {
  .headerContainer {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    z-index: 100;
    padding-bottom: 3px;
  }

  .navbar {
    max-width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .navbar ul {
    display: none;
  }

  .burger {
    display: block;
    cursor: pointer;
    margin-right: 1rem;
  }
}

@media (max-width: 992px) {
  .navbar {
    max-width: 80%;
  }
}
