.headerContainer {
    background-color: var(--foreground);
    position: sticky;
    top:0;
    width: 100%;
    z-index: 1;
    height: 60px;
    padding-top: 20px;
  }

  .headerContainer::after {
    content: '';
    display: block;
    height: 1px;
    background-color: var(--delim-color);
  }
  
  .navbar {
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .navbar h1 {
    padding: 0.2rem 0.8rem;
  }

  .navbar ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
  }

  .navbar ul>li {
    margin: 0.2rem 0.5rem;
  }

  .scrollbar {
    height: 3px;
    background-color: var(--link-color);
    width: 0;
    position: absolute;
    top: calc(100% -3px);
  }

@media (min-width: 768px) {
  .headerContainer {
    height: 50px;
  }
}

/* Increase height for even larger screens */
@media (min-width: 1024px) {
  .headerContainer {
    height: 60px;
  }
}