.headerContainer {
  background-color: var(--crust);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: ce; */
}

.navbar {
  display: flex;
  justify-content: space-between;
  /* max-width: 1440px; */
  align-items: center;
  width: 100%;
  padding: 0.1rem 2rem;
  box-sizing: border-box;
}

.title h1 {
  font-size: 1.5rem;
  font-weight: 300;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.navbar ul > li {
  margin: 0.2rem 0.5rem;
}

.burger {
  display: block;
  cursor: pointer;
  padding-right: 2rem;
}