.sidebarContainer {
  position: sticky;
  top: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 60vh;
  max-width: 250px;
  grid-area: sidebar;
  margin: 0 auto;
}

.sidebarButton {
  margin: 0.2rem 0;
  padding: 0.1rem;
  color: var(--text-color);
  text-decoration: none;
}

.sidebarButton.activeSideButton {
  color: var(--link-color);
  font-weight: bold;
  background-color: var(--foreground);
}

.side-button-h1 {
  margin-left: 0px;
}

.side-button-h2 {
  margin-left: 20px;
}

.side-button-h3 {
  margin-left: 40px;
}

.tocTitle {
  align-self: center;
}

.tocItems {
  display: flex;
  flex-direction: column;
  margin: 0;
  text-align: left;
}

.outline {
  height: 2px;
  background-color: var(--delim-color);
  width: 100%;
  margin: 1rem 0;
}

@media screen and (max-width: 768px) {
  .sidebarContainer {
      display: none;
  }
  
}