.blogNav {
  top: 20px;
  min-width: 300px;
  width: 300px;
  padding-top: 3rem;
  color: var(--text);
  background-color: var(--crust);
  font-family: 'Agave NerdFont', sans-serif;
  position: fixed;
  left: 0;
  height: 100%;
  transition: transform 0.3s ease;
}

.toggleButton {
  position: fixed;
  top: 50%; 
  left: 270px;
  z-index: 9;
  font-family: 'Agave NerdFont';
  font-size: x-large;
  transition: transform 0.3s ease;
  background: none;
  color: var(--pink);
  border: none;
}

.close .toggleButton {
  left: 0;
}

.open {
  transform: translateX(0);
}

.close {
  transform: translateX(-250px);
}

.navTitle {
    font-size: 1rem;
    font-weight: 600;
    padding-left: 2rem;
    padding-bottom: 0.3rem;
    text-align: left;
    color: var(--yellow)
}

.elements {
    padding: 0 1rem;

}

.navElement {
  font-size: 1rem;
}

.folder {
    padding: 5px 10px;
    color: var(--blue);
    cursor: pointer;
    display: flex;
    align-items: center;
    border-left: 4px solid transparent;
    transition: all 0.3s ease;
  }
  
  .folder:hover {
    transform: scale(1.03);
    color: var(--mauve);
  }

  .folderIcon {
    margin-right: 12px;
    transform: rotate(0deg);
    transition: fill 0.3s ease;
    color: var(--blue);
  }
  
  .folder:hover .folderIcon {
    color: var(--yellow);
  }

  .folderIcon.open {
    transform: rotate(90deg);
  }
  
  .folder.open {
    border-left: 4px solid var(--lavender);
    font-weight: bold;
  }

  .list {
    list-style-type: none;
    border-left: solid var(--blue) 1px;
    margin: 0 1.3rem;
    padding-left: 2rem;
  }
  
  .list li {
    padding: 0.3rem 0; /* Adjust as needed */
  }
  
  .list li a {
    color: var(--text);
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  .list li a:hover {
    color: var(--mauve);
  }