:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground: #C6D0F5;
  --text-color: #C7CEF4;
  --background: #26283A;
  --alt-background: #1D1F30;
  --link-color: #F4AA80;
  /* --background-end-rgb: 255, 255, 255; */

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

/* body, html {
  min-height: 100vh;
} */

.header-placeholder {
  height: 10vh;
}
body {
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  background: var(--background);
  min-height: 100vh;
  margin: 0;
}

h1 {
  margin: 0;
}

.main-content {
  max-width: 800px;
  margin: auto;
  padding-top: calc(10vh);
}

header {
  background-color: var(--alt-background);
  position: sticky;
  top:0;
  width: 100%;
  z-index: 1;
}

.navbar {
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

a {
  color: var(--link-color);
}

.navbar ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.scrollbar {
  height: 2px;
  background-color: var(--link-color);
  width: 0;
}

.post-container {
  display: flex;
  flex-direction: row;
  /* top: calc(10vh); */
}

.sidebar {
  position: sticky;
  top: 10vh;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

.sidebar a {
  color: var(--text-color);
  text-decoration: none;
}

.sidebar .active-side-button{
  color: var(--link-color);
  background-color: var(--alt-background);
}

.post-content {
  max-width: 600px;
  margin: auto;
  top: 10vh;
  padding-left: 20px;
}