:root {
  --max-width: 1100px;
  --border-radius: 12px;

 /* Macchiato Palette */
 --base: #24273A;
 --mantle: #1E2030;
 --crust: #181926;

 --surface-0: #363A4F;
 --surface-1: #494D64;
 --surface-2: #5B6078;

 --overlay-0: #6E738D;
 --overlay-1: #8087A2;
 --overlay-2: #939AB7;

 --subtext-0: #A5ADCB;
 --subtext-1: #B8C0E0;
 --text: #CAD3F5;

 /* Accent Colors */
 --lavender: #B7BDF8;
 --blue: #8AADF4;
 --sapphire: #7DC4E4;

 --sky: #91D7E3;
 --teal: #8BD5CA;
 --green: #A6DA95;

 --yellow: #EED49F;
 --peach: #F5A97F;
 --maroon: #EE99A0;

 --red: #ED8796;
 --mauve: #C6A0F6;
 --pink: #F5BDE6;

 --flamingo: #F0C6C6;
 --rosewater: #F4DBD6;
  


  --tag-1: #F6A6B2;
  --tag-2: #B8E6D9;
  --tag-3: #E0B0FF;
  --tag-4: #FFD8B1;
  --tag-5: #AEE0FF;
  --tag-6: #FFF5BA;
  --tag-7: #C9D6DF;
  --tag-8: #FFC9B5;

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@font-face {
  font-family: 'Agave NerdFont';
  src: url('/assets/fonts/AgaveNerdFont-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu NerdFont';
  src: url('/assets/fonts/UbuntuNerdFont-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body,
html {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  margin: 0;
  padding: 0;
  color: var(--text);
}

html {
  height: 100%;
  background-color: var(--crust);
}
body {
  background-color: var(--base);
  min-height: fit-content;
  font-family: "Ubuntu NerdFont";
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Agave NerdFont";
  font-weight: 300;
  line-height: 1;
}

h1 {
  font-size: 2rem;
}

.main-content {
  display: flex;
  align-items: center;
  min-height: calc(100vh - var(300px));
}

main {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: var(--blue);
}

.post-container {
  padding: 0 3rem;
  display: grid;
  grid-template-columns: 0.8fr 2.5fr 1fr;
  grid-template-areas: "sidebar main graph";
  max-width: 1440px;
  margin: 4rem auto;
}

.post-container > article {
  align-self: center;
}

.ccc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.crow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.post-header {
  padding: 2rem 0;
}

.accent {
  color: var(--mauve);
}

.link {
  text-decoration: none;
  color: var(--mauve);
  font-weight: 500;
}

.text {
  text-decoration: none;
  color: var(--text);
  font-weight: 500;
}

.kbar-icon {
  font-family: "Agave NerdFont";
  color: var(--blue);
  margin-right: 10px;
  line-height: 1;
}

.link-alt {
  text-decoration: none;
  color: var(--lavender);
  font-weight: 200;
}

.link-alt:after {
  font-size: 0.7rem;
  padding-left: 0.5rem;
  content: "";
}

.link-alt:hover {
  color: var(--mauve);
}

.link-highlight {
  text-decoration: none;
  color: var(--accent-color);
  background: var(--alt-background);
}

.link:hover {
  text-decoration: underline 2px var(--peach);
  color: var(--peach);
}

.blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
}

.primary-list {
  list-style-type: none;
}

.tags-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
}

.inactive-link {
  line-height: 1.5rem;
  text-decoration: dotted underline 2px var(--delim-color);
}

.regular-button {
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 600;
  font-size: medium;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
  justify-self: flex-end;
  width: fit-content;
  flex: none;
  white-space: nowrap;
  background-color: var(--base);
  color: var(--lavender);
}

.pill {
  display: inline-block;
  color: var(--text);
  padding: 5px 10px;
  margin: 5px;
  border-radius: 20px;
  opacity: 80%;
  font-size: small;
  border: none;
  cursor: pointer;
  /* outline: none; */
}

.tag-0 {
  background-color: var(--lavender);
}

.tag-1 {
  background-color: var(--sky);
}

.tag-2 {
  background-color: var(--yellow);
}

.tag-3 {
  background-color: var(--red);
}

.tag-4 {
  background-color: var(--flamingo);
}

.tag-5 {
  background-color: var(--blue);
}

.tag-6 {
  background-color: var(--teal);
}

.tag-7 {
  background-color: var(--peach);
}

.blog-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.blog-description {
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-description p {
  margin-top: 0;
  margin-bottom: 0;
}

.blog-organisation {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 0 2rem 2rem;
}

.blog-organisation-title {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  font-weight: 300;
  align-self: flex-start;
}
.blog-organisation-text {
  font-size: 1rem;
  font-weight: 300;
  margin-right: 2rem;
}
.blog-link {
  color: var(--text);
  line-height: 1.2rem;
}

.description-container {
  width: 50%;
}

.outline {
  height: 2px;
  background-color: var(--lavender);
  width: 80%;
}

.outline-max {
  height: 2px;
  background-color: var(--lavender);
  width: 100%;
  margin: 1rem 0;
}

.post-cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
}

.post-image {
  width: 100%;
  transition: transform 0.25s ease-in-out;
}

.post-image.zoomed {
  cursor: zoom-out;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 70%;
  max-height: 70%;
  z-index: 1000;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  filter: blur(5px);
  z-index: 999;
}

.overlay.active {
  display: block;
}

.heading-link {
  text-decoration: none;
  color: var(--teal);
  font-weight: 500;
}

h2 .heading-link {
  color: var(--peach);
}

.heading-link:hover::before {
  content: "#";
  color: var(--accent-color);
  margin-right: 0.5rem;
}

@media screen and (max-width: 768px) {
  .post-container {
      display: grid;
      grid-template-columns: 0.5fr 2.5fr 0.5fr;
  }
}

.zoom {
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

.zoom:hover {
  transform: scale(1.5);
}