.aboutContainer {
   min-height: 70vh;
   max-width: 80%;
}

.picture {
    max-width: 350px;
    border-radius: 50%;
}

.sectionTitle {
    font-weight: 500;
    margin: 1rem;
}

.aboutContent{
    /* display: flex;
    flex-direction: row;
    align-items: center; */
}

.aboutText {
    margin: 0 4rem 4rem 0rem;
    text-align: justify;
    /* overflow: auto; */
}

.imageBox {
    float: left;
    margin: 2rem 2rem 1rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* align-items: center; */
}

.intro {}

  
  /* Large devices (desktops, 992px and up) */
  @media (max-width: 992px) {
    .aboutContent {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    
      .aboutContent {
        width: 100%;
      }
  
      .imageBox {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
      }
  
      .picture {
          max-width: 350px;
      }
  
      .aboutText {
          width: 100%;
      }
  }