.aboutContainer {
  min-height: 70vh;
  max-width: 80%;
  z-index: 1;
  background-color: var(--background);
  padding: 2rem;
}

.picture {
  max-width: 350px;
  border-radius: 50%;
}

.sectionTitle {
  font-weight: 500;
  margin: 1rem;
}

.imageBox {
  float: left;
  margin: 2rem 2rem 1rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 992px) {
  .aboutContainer {
    width: 100%;
  }

  .aboutContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .imageBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .picture {
    max-width: 250px;
  }

  .aboutText {
    width: 100%;
    margin: 0 0 2rem 0;
  }
}
