
.blogNav {
    border-right: solid 1px black;
    top: 0;
    min-width: 280px;
    padding-top: 3rem;
    color: var(--text-color);
}

.navTitle {
    font-size: 0.8rem;
    font-weight: 600;
    padding-left: 2rem;
    padding-bottom: 0.3rem;
    text-align: left;
    /* border-bottom: solid 1px rgb(74,73,91, 0.5); */
}

.elements {
    padding: 0 1rem;

}

.navElement {
  font-size: 0.9rem;
}

.folder {
    padding: 5px 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-left: 4px solid transparent;
    transition: all 0.3s ease;
  }
  
  .folder:hover {
    /* background-color: rgb(74,73,91, 0.5); */
    /* box-shadow: 1px 1px 1px 0px rgb(13, 53, 45); */
    transform: scale(1.03);
    color: var(--text-color);
  }

  .folderIcon {
    fill: var(--text-color);
    margin-right: 6px;
    transform: rotate(0deg);
    transition: fill 0.3s ease;
  }
  
  .folder:hover .folderIcon {
    fill: var(--accent-color);
  }

  .folderIcon.open {
    transform: rotate(90deg);
  }
  
  .folder.open {
    border-left: 4px solid var(--delim-color);
    font-weight: bold;
  }

  .list {
    list-style-type: none;
    border-left: solid rgb(74,73,91, 0.6) 1px;
    margin: 0 1.3rem;
    padding-left: 2rem;
  }
  
  .list li {
    padding: 0.3rem 0; /* Adjust as needed */
  }
  
  .list li a {
    color: var(--text-color);
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  .list li a:hover {
    color: var(--accent-color);
  }